
<div class="container container-form">
     <h1>Editing Shoe</h1>

    <div class="form-new">
        <%= render 'form', shoe: @shoe %>
    </div>
    <%= link_to 'Show', @shoe %> |
    <%= link_to 'Back', admin_shoes_path %>
</div>
